{% extends 'dashboard.html' %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">Manage cars</h1>
<!-- Display success or error messages -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p style="color: green; font-weight: bold;">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
    <!-- Add Bike Button (top right corner) -->
    <div class="text-right mb-4">
        <a href="{% url 'add_car' %}" class="bg-blue-500 text-white py-2 px-4 rounded">Add car</a>
    </div>

    <table class="min-w-full bg-white shadow rounded-lg">
        <thead>
            <tr class="border-b">
                <th class="py-2 px-4 text-left">Name</th>
                <th class="py-2 px-4 text-left">Price per Day</th>
                <th class="py-2 px-4 text-left">Available</th>
                <th class="py-2 px-4 text-left">Featured</th>
                
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr class="border-b">
                    <td class="py-2 px-4">
                        <!-- Clickable link to edit bike details -->
                        <a href="{% url 'car_details' car.id %}" class="text-blue-500">{{ car.name }}</a>                   
                     </td>
                    <td class="py-2 px-4">{{ car.price_per_day }}</td>
                    <td class="py-2 px-4">{{ car.available }}</td>
                    <td class="py-2 px-4">{{ car.featured_vehicle }}</td>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="py-4 text-center text-gray-500">No cars available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
